  <div *ngFor="let conta of contas" class="flex justify-content-center align-items-center">
  <p-card header="{{ conta.nome_conta }}" [style]="{'width': '45rem', 'margin-top': '2em'}">
    <p><b>Tipo de Conta: </b> {{ conta.tipo_conta }}</p>
    <p><b>Receitas: </b> R$ {{ conta.receitaTotal }} </p>
    <p><b>Despesas: </b> {{ conta.tipo_conta }} </p>
    <ng-template pTemplate="footer">
      <p><b>Saldo Atual: </b> R$ {{ conta.saldo_inicial }}</p>
    </ng-template>
  </p-card>
  </div>

  <div class="absolute bottom-10 right-5">
    <button pButton type="button" icon="pi pi-plus" class="p-button-raised p-button-rounded" (click)="menu.toggle($event)"></button>
  </div>

  <p-menu #menu [popup]="true" [model]="items" appendTo="body"></p-menu>

  <p-toast></p-toast>
