<section class="text-center">
  <main class="form-signin w-100 m-auto">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <img class="mb-4" src="../../../assets/jetxee_euro_coin.svg" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Login</h1>

      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="username" formControlName="username">
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
        <label for="floatingPassword">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Logar</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2022–2023</p>
    </form>
  </main>
</section>
